html {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

*, *::after, *::before {
  -moz-box-sizing: inherit;
       box-sizing: inherit; }

.top-bar {
  height: 55px;
  width: 100%; }

.logo-wrapper {
  margin-left: 15px; }
  .logo-wrapper a {
    font-size: 45px;
    line-height: 55px; }

.nav-collapse {
  float: right;
  width: auto;
  border-right: 2px solid white;
  border-left: 1px solid white; }
  .nav-collapse a {
    border-left: 1px solid white;
    padding: 16px 32px; }

.nav-collapse li {
  width: auto; }

footer {
  height: 160px;
  padding: 32px 0 0 0; }
  footer p {
    width: 100%; }
  footer p,
  footer ul.footer-menu li a {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 0 5px 0; }

ul.footer-menu {
  margin: 0 0 6px;
  width: 100%; }
  ul.footer-menu li {
    padding-left: 13px; }

a.button,
button {
  border-radius: 4px;
  font-size: 26px;
  padding: 16px 32px 17px; }

.side-padding {
  padding: 0 16px; }

.height-wrapper main#contact {
  padding-bottom: 1300px; }
.height-wrapper main#about {
  padding-bottom: 300px; }
