@import "../../settings/_settings.scss";


h1.title {
	margin: rem(50) auto rem(30);
}

.intro-box {
	background: #fff;
	box-shadow: 0 0 em(3) 0 #333;
	margin-bottom: em(60);
	border-radius: em(4);
	padding: rem(40) rem(70);
	@include span-columns(14 of 16);
	@include shift(1);

	h2 {
		margin-bottom: rem(30);
	}
}

h3.form-title {
	margin-bottom: em(30);
}

form {
	@include outer-container;
	img {
		margin-bottom: em(16);
		max-width: 150px;
	}
}

label.question {
	font-size: rem(21);
}

label {
	span {
		display: inline-block;
	}
}

.form-row {
	@include row;
	margin-bottom: em(30);
}

.input-container {
	margin-top: rem(22);
}

#name {
	.input-container {
		@include span-columns(8 of 16);
		height: 60px;
		@include shift(4);
	}
}

#computer-os {
	.input-container {
		@include span-columns(4 of 12);
		height: 240px;
		display: table;
		text-align: center;
	}

	.input {
		display: table-cell;
		vertical-align: bottom;
	}
}

#windows,
#macintosh,
#browsers {
	.input-container {
		@include span-columns(2 of 12);
		height: 240px;
		display: table;
		text-align: center;
	}

	.input {
		display: table-cell;
		vertical-align: bottom;
	}
}

#linux {
	.row-content {
		@include span-columns(12 of 16);
		@include shift(2);
	}

	.input-container {
		@include span-columns(3 of 9);
		height: 240px;
		display: table;
		text-align: center;
	}

	.input {
		display: table-cell;
		vertical-align: bottom;
	}
}

.end {
	margin: em(60) auto;
}

@include media($large) {
	#name {
		.input-container {
			@include span-columns(12 of 16);
			@include shift(2);
		}
	}

	#windows,
	#macintosh,
	#browsers {
		.input-container {
			@include span-columns(3 of 9);
			height: 240px;
			display: table;
			text-align: center;

			@include omega(3n);
		}

		.input {
			display: table-cell;
			vertical-align: bottom;
		}
	}

	#linux {
		.row-content {
			@include span-columns(12 of 12);
			@include shift(0);
		}
	}
}

@include media($small-plus) {
	.intro-box {
		padding: rem(20) rem(25);
	}	

	#computer-os,
	#windows,
	#macintosh,
	#browsers {
		.input {
			display: table-cell;
			vertical-align: top;
		}
	}

	#linux {

		.input-container {
			margin-top: 0;
		}
	}
}

@include media($small) {
	#name {
		.input-container {
			@include span-columns(12 of 14);
			@include shift(1);
		}
	}

	.intro-box {
		padding: rem(10) rem(15);
	}
}