@import "../settings/_settings.scss";

.hero-header {
	width: 100%;
	box-shadow: $box-shadow #222 inset;

	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	height: em(350);

	.title-wrapper {
		position: relative;
		text-align: center;

		h1 {
			position: absolute;
			// top: rem(280);
			top: rem(275);
			font-size: rem(63);
			width: 100%;
			color: #fff;
			text-shadow: $title-text-shadow #000;
		}
	}

	@include media($medium) {
		height: em(310);

		.title-wrapper {
			h1 {
				// top: rem(245);
				top: rem(240);
			}
		}
	}

	@include media($small-plus) {
		height: em(220);

		.title-wrapper {
			h1 {
				top: rem(150);
			}
		}
	}
}

