@import "../../settings/_settings.scss";


#tech-setup {

	main {
		margin-top: em(80);
	}
	
	.intro-box {
		background: #fff;
		box-shadow: $z-2;
		margin-bottom: em(60);
		border-radius: em(5);
		padding: rem(40) rem(30) rem(20);
		@include span-columns(14 of 16);
		@include shift(1);

		p {
			margin-bottom: rem(30);
		}
	}	
}


h3.form-title {
	margin-bottom: em(30);
}

form#tech-form {
	@include outer-container;

	label {
		display: inline-block;

		span {
			display: inline-block;
		}
	}

	img {
		margin-bottom: em(16);
		max-width: 150px;
	}
}

label.question {
	font-size: rem(21);
}

.form-row {
	margin-bottom: em(30);
}

.input-container {
	margin-top: rem(22);
}

#name {
	.input-container {
		@include span-columns(8 of 16);
		height: 60px;
		@include shift(4);
	}
}

#computer-os {
	.input-container {
		@include span-columns(4 of 12);
		height: 240px;
		display: table;
		text-align: center;
	}

	.input {
		display: table-cell;
		vertical-align: bottom;
	}
}

#windows,
#macintosh,
#browsers {
	padding: 0 rem(20);

	.input-container {
		@include span-columns(2 of 14);
		// @include omega(7n);
		height: 240px;
		display: table;
		text-align: center;
	}

	.input {
		display: table-cell;
		vertical-align: bottom;
	}
}


#linux {
	.row-content {
		@include span-columns(12 of 16);
		@include shift(2);
	}

	.input-container {
		@include span-columns(3 of 9);
		height: 240px;
		display: table;
		text-align: center;
	}

	.input {
		display: table-cell;
		vertical-align: bottom;
	}
}

#thats-all {
	text-align: center;
	background: #fff;
	border-radius: em(5);
	padding: em(20) em(10) em(30);
	max-width: em(400);
	width: 100%;
	box-shadow: $z-2;
	margin: em(30) auto em(40);

	h3 {
		margin-bottom: rem(20);
	}
}

@include media($large) {

	#name {
		.input-container {
			@include span-columns(12 of 16);
			@include shift(2);
		}
	}

	#windows,
	#macintosh,
	#browsers {
		.input-container {
			// @include omega-reset(7n);
			@include span-columns(3 of 9);
			@include omega(3n);

			height: 240px;
			display: table;
			text-align: center;
		}

		.input {
			display: table-cell;
			vertical-align: bottom;
		}
	}

	#linux {
		.row-content {
			@include span-columns(12 of 12);
			@include shift(0);
		}
	}
}

@include media($android) {
	.intro-box {
		padding: rem(20) rem(25) rem(0);
	}

	#computer-os {
		padding: 0 em(20);
		.input-container {
			@include span-columns(1 of 3);
		}
	}

	#windows,
	#macintosh,
	#browsers {
		.input-container {
			
						
			@include span-columns(2 of 4);
			@include omega-reset(3n, 4);
			@include omega(2n);

			// @include span-columns(2 of 4);
			height: 240px;
			display: table;
			text-align: center;
		}
	}

	#computer-os,
	#windows,
	#macintosh,
	#browsers {
		.input {
			display: table-cell;
			vertical-align: top;
		}
	}

	#linux {
		.input-container {
			margin-top: 0;
		}
	}
}

@include media($small) {
	#name {
		.input-container {
			@include span-columns(12 of 14);
			@include shift(1);
		}
	}

	.intro-box {
		padding: rem(10) rem(15);
	}
}